:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.services {
    display: flex;
    height: 30rem;
    margin-bottom: 8rem;
    margin-top: 2rem;
    margin-bottom: 13rem;

  }
  /* left side */
  .awesome {
    
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10rem;
    /* gap: 20px; */
  }
  
  .awesome > :nth-child(1) {
    color: var(--blueCard);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(3) {
    color: var(--blueCard);
    font-size: 20px;
    margin-top: 1rem;
  }
  .s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
  }
  /* right sided */

 

  div .skills-section{
    z-index: 2;
    margin-bottom: 4rem;
    color: rgb(255, 255, 255);  
    border: 2px solid rgb(95, 95, 95);
}

  /* Card styling */
.card {
  display: flex;
  flex-direction:column ;
  align-items: center;
  background-color: #740297;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem;
  width: 200px;
  opacity: .7;
}

.card img {
  border-radius: 10px;
  margin-bottom: .5rem;
  max-width: 100%;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card a {
  background-color: #4caf50;
  border-radius: 5px;
  color: #fff;
  font-size: 0.4rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
}

.card a:hover {
  background-color: #388e3c;
}

/* CardList styling */
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


  @media screen and (max-width: 480px) {
    .services {
      margin-top: 0;
      flex-direction: column;
      gap: 5rem;
      height: 66rem;
      padding: 0;
    }
  
    .cards {
      display: flex;
      flex-direction: column;
      gap: 17rem;
    }
    .cards > * {
      position: static;
    }
  }