:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

div .home-section{
    z-index: 2;
    margin-bottom: 4rem;
    color: rgb(184, 184, 184);  
    border: 2px solid rgb(95, 95, 95);
}

video{
  position: relative;
  height: 20rem;
  width: 100%;
  top: 0;
  bottom: 0;
  object-fit:fill;
}

.about-name{
    font-size: 50px;
    font-weight: 500;
}

.about-text{
  padding-left: 0rem;
  margin-right: 60%;
}

.name-subtext{
  font-size: 50px;
}

.glass-effect {
    background-color: rgba(1, 0, 8, 0.5);
    backdrop-filter: blur(10px); /* adds the blur effect to the background */
    opacity: 1;
    border-radius: 10px; /* optional, adds rounded corners to the div */
    padding: 20px; /* optional, adds some padding to the content */
  }

  .social-media-icons{
    flex:1;
    justify-content: space-around;
    align-items: center;
    display: flex-start; 
    margin-right: 1rem;   
    color: #7202b3;
     
  }

a:hover{
    background: #242D49;
    cursor: pointer;
  }


.Intro {
  display: flex;
  height: 61vh;
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  margin-left: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: var(--blueCard);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 20px;
  color: var(--blueCard);
  margin-top: 10px;
}
.i-button {
  width: 6rem;
  height: 2rem;
}
.i-icons {
  margin-top: -1rem;
  display: flex;
  gap: 0rem;
}
/* right side styling */
.i-right {
  flex: 1;
  position: relative;
  margin-top: -4rem;
  margin-left: 5rem;
}
.i-right > * {
  position: absolute;
  margin-top: -4rem;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.52);
  left: -15%;
  top: -9%;
}
.i-right > :nth-child(2) {
  top: -4.6rem;
  transform: scale(0.5);
  left: -3rem;
}
.i-right > :nth-child(3) {
  transform: scale(1.4);
  padding-top:2.37rem;
  left: 10%;
  
}
.i-right > :nth-child(4) {
  transform: scale(0.62);
  top: -19%;
  left: -24%;
  border-radius: 50%;
  padding: 0;
}


@media screen and (max-width: 480px) {
  .Intro {
    flex-direction: column;
    gap: 7rem;
    height: 64rem;
  }

  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }
  .i-right .blur {
    display: none;
  }
  .floating-div:nth-of-type(1){
    /* display: none; */
    top: -7rem !important;;
  }
}